{
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "env": {
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "airbnb",
    "airbnb-typescript",
    "plugin:import/warnings",
    "plugin:import/errors",
    "prettier",
    "plugin:prettier/recommended",
    "eslint-config-prettier"
  ],
  "plugins": ["@typescript-eslint", "prettier", "import"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "no-console": ["error", { "allow": ["info", "error"] }],
    "import/prefer-default-export": "off",
    "no-plusplus": "off",
    "@typescript-eslint/unbound-method": "off",
    "class-methods-use-this": "off"
  }
}
